body{
	background-color: yellow;
}
button{
	display: block;
	position: absolute;
	border: 2px solid;
	background: black;
	color: white;
	border-radius: 10px;

    }
button:hover {
	border: 0px solid #1292e1;
	background:aquamarine;
	color: white !important;
	content: "you can't catch me" !important;
       }
        
   